<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js}"></script>
           
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
   <head>
      <meta charset="UTF-8">
      <title>Login</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
     <div class="container"> 
	     <div class="login-container">
	    	<div class="row">
      		   <div class="col-xs-12">
      			  <h1>Login  Page</h1> 
         		  <h3>Please enter your UserName and password</h3>
         		
         		
         		    <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
             		<div th:if= "${#request.getParameter('error') == 'true'}" style="color: red; margin: 10px 0px;">
                		Login Failed!!!<br /> Reason :
                	    	<span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
                    </div>
                    </th:block>
          
         <form 
            th:action="@{/j_spring_security_check}" method="POST">
            
              <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="userName"
                           name="userName"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username">
                </div>
                
                
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password">
                </div>
                <div class="form-inline">
                    
                        
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-inline btn btn-info"
                                   value="Log In">
                       
                            <input type="reset"
                                   name="reset"
                                   id="login-reset"
                                   class="form-inline btn btn-info"
                                   value="Reset">
                                           
                  </div>
    
         </form>
          
         <span class="error-message" th:utext="${error}"></span>
                

                    </div>
                </div>
           </div>
    </div>
     
   </body>
   <style>
   body{
    background: url([[@{/images/Food_Background.png}]]);
    background-size: cover;
    }
   </style>
</html>