<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{https://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js}"></script>
           
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
   <head>
      <meta charset="UTF-8">
      <title>Confirmation</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
    
      <th:block th:include="header"></th:block>
     
       
     <div class="page-title">
     <!--  <div class="container">
         <h3 style ="text-align:left">Thank you for Order</h3>
         <h1 style ="text-align:left">Your order number is: <span th:utext="${lastOrderedCart.orderNum}"></span></h1>
      
       </div>
      -->
  <div class="jumbotron text-xs-center">
  <h1 class="display-3">Thank You for the order!</h1>
  <h3 class="lead"><strong>Your order number is: <span th:utext="${lastOrderedCart.orderNum}"></span></strong> </h3>
  
  <p>
    Having trouble? <a th:href="@{/contactUs}">ContactUs</a>
  </p>
  
</div>
      
      
       </div>
   </body>
   
   <style>
   body{
    background: url([[@{/images/Food_Background.png}]]);
    background-size: cover;
    }
   </style>
</html> 

