<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
 
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js}"></script>
           
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
   <head>
      <meta charset="UTF-8">
      <title>Shopping Cart</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="Header"></th:block>
      
       <div class="row margin-top">
       <div class="col-xs-12">
        <h1>My Cart</h1>
       </div>
       </div>
     
       
      <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
         <h2>There is no items in Cart</h2>
         <a th:href="@{/productList}">Show Product List</a>
      </th:block>
       
      <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
         <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
          
               <div class="product-preview-container"
                        th:each="cartLineInfo, varStatus : ${cartForm.cartLines}">
                  <ul>
                     <li><img class="product-image"
                        th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" />
                     </li>
                     
                     <li>Item: <span th:utext="${cartLineInformation.productInfo.name}"></span></li>
                     <li>Price:
                        <span class="price"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>Quantity:
                        <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInformation.quantity}" />
                     </li>
                     <li>Subtotal:
                        <span class="subtotal"
                           th:utext="${#numbers.formatDecimal(cartLineInfo.amount,3,2,'COMMA')}">
                        </span>
                     </li>
                     <li>
                        <a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInformation.productInfo.code}|}">
                        Delete
                        </a>
                     </li>
                  </ul>
               </div>
             
            <div style="clear: both"></div>
            <input class="button-update-sc btn btn-primary" type="submit" value="Update Quantity" />
            <a class="navi-item btn btn-primary"
               th:href="@{/shoppingCartCustomer}">Send your order</a>
            <a class="navi-item btn btn-primary"
               th:href="@{/productList}">Continue Buy</a>
         </form>
      </th:block>
        
   </body>
   <style>
   body{
    background: url([[@{/images/Food_Background.png}]]);
    background-size : cover;
    }
   </style>
</html>